<p>You're about to order <strong><%= @recipe.title.capitalize %></strong></p> 
<p>The <strong>total price</strong> will be <strong>RM: <%= @recipe.price %></strong></p>
<p>Enter your details to get delivery and start cooking</p>

<div class="demo-frame">
	<%= form_for :checkout_form, url: braintree_checkout_path(recipe_id: @recipe.id), html: {id: "cardForm"} do |form| %> 
		<%= form.label :card_number, "Credit Card Number", html: {class: "hosted-fields--label"} %>
		<div id="card-number" class="hosted-field"></div>

		<%= form.label :expiration_date, "Expiration Date", html: {class: "hosted-fields--label"} %>
		<div id="expiration_date" class="hosted-field"></div>

		<%= form.label :cvv, "CVV", html: {class: "hosted-fields--label"} %>
		<div id="cvv" class="hosted-field"></div>

		<div id="mydiv" data-myval="<%= @client_token %>">
		
		<%= form.hidden_field "payment_method_nonce" %>

		<div class="button-container">
			<%= form.submit "Purchase", disabled: true, class: "button" %>
		</div>
	<% end %>
</div>

<div><%= link_to "Go Back", user_path(current_user) %></div>