<%= form_with url: sign_in_path , local: true do |form| %>
	<div>
		<%= form.label :email %>
		<%= form.text_field :email %>
	</div>
	<div>
		<%= form.label :password %>
		<%= form.password_field :password %>
	</div>
	<div>
		<%= form.submit 'Sign in' %>
	</div>
	<%= link_to "Sign in with Facebook", "/auth/facebook" %>
<% end %>  