<div id="new_link_div">
	<%= nested_form_for @recipe do |f| %>
	<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title, class: "form-control" %>
	</div>
	<div class="form-group">
			<%= f.label :description %>
			<%= f.text_area :description, type: 'name', class: "form-control" %>
	</div>
	<div class="form-group">
			<%= f.label :price %>
			<%= f.text_field :price, type: 'name', class: "form-control" %>
	</div>
	<div class="form-group">
			<%= f.label :images %>
			<%= f.file_field :images, multiple: true %>
	</div>

	Ingredients
	<div id="ingredients">
		<%= f.fields_for :ingredients do |ingredient| %>
			<%= render 'ingredient_fields', f: ingredient %>
		<% end %>
			<%= f.link_to_add "Add ingredients", :ingredients %>
	</div>	

	Directions
	<div id="directions">
		<%= f.fields_for :directions do |direction| %>
			<%= render 'direction_fields', f: direction %>
		<% end %>
			<%= f.link_to_add "Add steps", :directions %>
	</div>
	<div class="links">
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.submit %>
	<% end %>
	</div>

	<%= button_tag "Hide Form", id: "hide_create_form" %>
</div>