<%= form_for @recipe do |f| %>
<div class="text-field">
	<%= f.label :title %>
	<%= f.text_field :title %>
</div>

<div class="text-field">
	<%= f.label :description %>
	<%= f.text_field :description %>
</div>

<div class="text-field">
	<%= f.label :price %>
	<%= f.text_field :price %>
</div>

	<div class="image-field">
	  <%= f.label :images %>
	  <p><%= f.file_field :images, multiple: true, class: "form-control" %></p>
	</div>

Directions
<div id="directions">
	<%= f.fields_for :directions do |direction| %>
		<%= render 'direction_fields', f: direction %>
	<% end %>
</div>
<div class="links">
	<%= link_to_add_association 'Add Direction', f, :directions %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.submit %>
<% end %>