List of search results:

<% @recipe.each do |recipe| %>
	<% recipe.images.each do |img| %>
		<div><%= image_tag img %></div>
		<div><%= recipe.title %></div>
		<div><%= recipe.description %></div>
		<div><%= recipe.price %></div>
		<%= link_to 'Cook This Meal', recipe_path(recipe.id) %>
	<% end %>
<% end %>

