<div class="container">
  <h2>List of search results:</h2>           
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Images</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @recipe.each do |recipe| %>
      <tr id="recipe_<%= recipe.id %>">
        <td><% recipe.images.each do |img| %>
					<p><%= image_tag img %></p>
				</td>
        <td><%= recipe.title.capitalize %></td>
        <td><%= recipe.description.capitalize %></td>
        <td><%= recipe.price %></td>
        <td><%= link_to 'Cook This Meal', recipe_path(recipe.id) %>
      		<% if current_user.superadmin? %>
						<%= link_to 'Edit This Meal', edit_recipe_path(recipe.id) %>
						<%= link_to "Delete", recipe_path(recipe.id), :method => :delete, data: {:confirm => "Are you sure?"}, :remote => true, :class => 'delete_recipe' %>
					<% end %>
				</td>
      </tr>
      	<% end %>
			<% end %>
    </tbody>
  </table>
</div>
	

