<% @recipe.images.each do |all_img| %>
	<%= image_tag all_img, class: "img-response" %>
<% end %>

<p><%= @recipe.title %></p>
<p><%= @recipe.description %></p>
<p><%= @recipe.price %></p>

<% @recipe.directions.each_with_index do |direction, index| %>
	<p>Instruction, <%= index + 1 %></p> 
	<p><%= direction.step %></p>
<% end %>
<div class="container">
    <h1 class="title">StopWatch</h1>
    <h1 id="timerLabel">00:00:00</h1>
    <input type="button" class="myButton" onclick="start()" value="START" id="startBtn">
    <input type="button" class="myButton" onclick="stop()" value="STOP">
    <input type="button" class="myButton" onclick="reset()" value="RESET">
</div>

<% @recipe.ingredients.each_with_index do |ingredient, index| %>
	<p>Ingredient, <%= index + 1 %></p> 
	<p><%= ingredient.name %></p>
<% end %>
