<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
    	<% @recipe.images.each do |all_img| %>
				<%= image_tag all_img, class: "img-response" %>
			<% end %>
				<p><strong>Title: </strong><%= @recipe.title.capitalize %></p>
				<p><strong>Description: </strong><%= @recipe.description.capitalize %></p>
				<p><strong>Price in RM: </strong><%= @recipe.price %></p></div>
	  <div class="col-sm-4">
			<h1>Cooking Instructions</h1>

			<% @recipe.directions.each_with_index do |direction, index| %>
				<p><strong>Instruction, <%= index + 1 %></strong></p> 
				<p><%= direction.step.capitalize %></p>
			<% end %>
		</div>
    <div class="col-sm-4">
    	<h1>List of Ingredients</h1>
			
			<% @recipe.ingredients.each_with_index do |ingredient, index| %>
				<p><strong>Ingredient, <%= index + 1 %></strong></p> 
				<p><%= ingredient.name.capitalize %></p>
			<% end %>
		</div>
  </div>
</div>

<div class="container">
    <h1 class="title">A Cooking Timer To Guide Your Cooking :)</h1>
    <h1 id="timerLabel">00:00:00</h1>
    <input type="button" class="myButton" onclick="start()" value="START" id="startBtn">
    <input type="button" class="myButton" onclick="stop()" value="PAUSE">
    <input type="button" class="myButton" onclick="reset()" value="RESET">
</div>

<div><%= link_to "Go Back To Recipe Page", user_path(current_user) %></div>

<div><%= link_to "Make Payment", braintree_new_path(recipe_id: @recipe.id) %></div>