<div>
	<%= form.label :name %>
	<%= form.text_field :name, type: 'name' %>
</div>

<div>
	<%= form.label :email %>
	<%= form.text_field :email, type: 'email' %>
</div>

<div>
	<%= form.label :password %>
	<%= form.password_field :password %>
</div>

<div>
	<%= form.label :address %>
	<%= form.text_area :address %>
</div>

<div>
	<%= form.label :city %>
	<%= form.text_field :city %>
</div>

<div>
	<%= form.label :state %>
	<%= form.text_field :state %>
</div>

<div>
	<%= form.label :zip %>
	<%= form.text_field :zip %>
</div>

<div>
	<%= form.label :phone_number %>
	<%= form.text_field :phone_number %>
</div>