Welcome <%= @user.name.capitalize %>

<div class="container">
  <ul class="pagination">
    <li class="active"><%= will_paginate @recipes %></li>
  </ul>
</div>


<div class="container">
  <h2>Recipe Table</h2>           
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Images</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @recipes.each_with_index do |recipe, index| %>
      <tr id="recipe_<%= recipe.id %>">
        <td><% recipe.images.each do |all_img| %>
					<p><%= image_tag all_img %></p>
				</td>
        <td><%= recipe.title.capitalize %></td>
        <td><%= recipe.description.capitalize %></td>
        <td><%= recipe.price %></td>
        <td><%= link_to 'Cook This Meal', recipe_path(recipe.id) %>
      		<% if current_user.superadmin? %>
						<%= link_to 'Edit This Meal', edit_recipe_path(recipe.id) %>
						<%= link_to "Delete", recipe_path(recipe.id), :method => :delete, data: {:confirm => "Are you sure?"}, :remote => true, :class => 'delete_recipe' %>
					<% end %>
				</td>
      </tr>
      	<% end %>
			<% end %>
    </tbody>
  </table>
</div>
	
<div class="container">
  <ul class="pagination">
    <li class="active"><%= will_paginate @recipes %></li>
  </ul>
</div>

