<h1> Food is better when you start from scratch </h1>
 
 <h3> Cook Meal, the Blue Apron Way </h3>
 
 <h5>Our Chefs and Farmers work together</h5>
 <p>To make food more sustainable and recipes more delicious</p>
 
 <h5>We Send you higher quality food at better value</h5>
 <p>By cutting out the middleman and delivering ingredients at their freshest</p>
 
 <h5>You Cook Incredible Meal From Scratch</h5>
 <p>With perfectly portioned ingredients and step-by-step recipes</p>
 
 <p> Blue Apron's uniquely integrated model means better ingredients, better pricing and a better planet for us all </p>
 
 <!-- link to get started -->
<%= link_to 'Sign Up', sign_up_path %>
<%= link_to 'Login', sign_in_path %>
<%= link_to "Sign in with Facebook", "/auth/facebook" %>
<%= link_to 'Sign Out', sign_out_path %> 
<%= link_to 'My Home Page', user_path(current_user.id) %> 